@import "./ModalAcc.scss";
@import "./SignUp.scss";
#login-container {
  height: 100%;
  padding-top: 92px;
  padding-bottom: 132px;
  background-color: #f0f2f5;
  box-sizing: border-box;
  .form {
    margin: auto;
    width: 980px;
    display: flex;
    .form-left {
      padding-right: 48px;
      flex: 1 0 0px;
      .logo {
        padding: 8px 0 16px 0;
        img {
          height: 70px;
          margin: -20px;
        }
      }
      .recent-h3 {
        font-size: 28px;
        font-weight: normal;
        line-height: 32px;
      }
      .recent-h4 {
        color: #606770;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 12px;
        padding-bottom: 12px;
      }
      .recent-acc {
        display: flex;
        flex-wrap: wrap;
        .recent-acc-item {
          flex: 0 0 30.3333%;
          margin: 0 20px 20px 0;
          .recent-acc-wrapper {
            width: 160px;
            border-radius: 8px;
            position: relative;
            .recent-acc-content {
              img {
                height: 160px;
                width: 160px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
              }
              .recent-acc-name {
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                padding: 12px;
                background-color: #fff;
                text-align: center;
                color: #4b4f56;
                font-size: 18px;
                line-height: 22px;
              }
            }
            .icon-delete {
              position: absolute;
              top: 0;
              color: #fff;
            }
            &:hover {
              box-shadow: 0 10px 10px #dddfe2, 0 10px 10px #dddfe2;
              .icon-delete {
                font-size: 25px;
              }
            }
          }
        }
        .new-acc {
          .recent-acc-wrapper {
            width: 160px;
            box-shadow: 0 0 0 1px #dddfe2;
            border-radius: 8px;
            .new-acc-add {
              .icon-add {
                align-items: center;
                background-color: #f5f6f7;
                display: flex;
                height: 160px;
                justify-content: center;
                width: 160px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
              }
              .recent-acc-name {
                color: #1877f2;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                padding: 12px;
                font-size: 18px;
                line-height: 22px;
                background-color: #fff;
                text-align: center;
              }
            }
          }
        }
      }
    }

    .form-right {
      height: 456px;
      width: 396px;
      .form-right-wrapper {
        .form-login {
          align-items: center;
          border: none;
          border-radius: 8px;
          box-sizing: border-box;
          margin: 40px 0 0;
          padding: 20px 0 28px;
          width: 396px;
          padding-bottom: 24px;
          padding-top: 10px;
          background-color: #fff;
          .acc-info {
            .acc-info-input {
              font-size: 17px;
              width: 364px;
              margin: auto;
              padding: 6px 0;
              .ant-input {
                font-size: 17px;
                padding: 14px 16px;
                border: 1px solid #dddfe2;
                border-radius: 6px;
                background-color: #e8f0fe;
              }
            }
          }
          .btn-login {
            padding-top: 6px;
            text-align: center;
            .ant-btn-primary {
              height: 54px;
              background-color: #1877f2;
              border: none;
              border-radius: 6px;
              font-size: 20px;
              padding: 8px 16px;
              margin: 0;
              width: 364px;
            }
          }
          .btn-forgot {
            margin-top: 16px;
            text-align: center;
          }
          .line {
            align-items: center;
            border-bottom: 1px solid #dadde1;
            display: flex;
            margin: 20px 16px;
            text-align: center;
          }
          .btn-create-acc {
            padding-top: 6px;
            text-align: center;
            a {
              border: none;
              border-radius: 6px;
              font-size: 17px;
              line-height: 48px;
              padding: 12px 16px;
              background-color: #42b72a;
              color: #fff;
            }
          }
        }
        .slogan-title {
          margin-top: 28px;
          text-align: center;
          font-size: 14px;
          color: #1c1e21;
          a {
            font-weight: 600;
            color: #1c1e21;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
